=stylesheet_link_tag "twitterfeed"

#twitterfeed{:class => align}

  - if title
    #twitterfeed_header
      = title
      = image_tag("bird.jpg")
  #twitterfeed_content
    - tweet_array.each do |tweet|
      #twitterfeed_tweet{:class => cycle('even','odd')}
        #twitterfeed_pic
          = link_to image_tag(tweet["pic_url"]), "http://twitter.com/#{tweet['handle']}", :target => '_new'
        #twitterfeed_handle
          =link_to tweet["handle"], "http://twitter.com/#{tweet['handle']}", :target => '_new'
        
          .twitterfeed_time
            =tweet_time(tweet["created_at"])
        #twitterfeed_text
          = linkify_tweet(tweet["text"])
      